* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prenav {
    position: relative;
    width: 100%;
    background-color: #e6007e;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.orders {
    width: 25%;
    text-align: center;
}

.mov-bar {
    width: 53%;
    text-align: center;
}

.contact {
    width: 22%;
    text-align: center;
}

.prenav2 {
    display: flex;
    margin: 10px 0;
}

.collapsedsidepanel{
    width: 25%;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;

}

.logo img {
    width: 100px;
    height: 55px;
}

.icons {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;
    gap: 10px;
}

.line {
    width: 100%;
    color: black;
    opacity: 0.1;
    margin-top: 5px;
}

.navbar1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px 0;
}
.link{
  text-decoration: none;
   color: black;
}

.item {
    margin-bottom: 40px;
}
.category{
    font-size: 14px;
}
.description{
    font-size: 16px;
}
.price{
    font-size: 14px;
}
.itemtyp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    color: gray;
    gap: 40px;
    font-size: 20px;
    color: gray;
    margin: 30px 0;
}

.social a {
    text-decoration: none;
    color: black;
    font-size: 18;
}

.list-bottom1 li a {
    text-decoration: none;
    color: #000;
}

.list-bottom1 li {
    margin-bottom: 10px;
}

.mb_50 {
    margin-bottom: 50px;
}
.clrbg{
    background-color: black;
}

/* Website Responsiveness Code Starts */

@media screen and (min-width:1024px) {
    .payment_icons {
        text-align: right;
    }
    .product img{
        width: 500px;
        height: 350px;
    }
    
}

@media screen and (min-width:992px) {
    .sidepanelbutton{
        display: none;
    }
}

@media screen and (max-width:992px) {
    .navbar1 {
        display: none;
    }
    .sidepanelbutton{
        display: block;
    }
    
    .line {
        display: none;
    }

    .prenav2 {
        margin-bottom: 50px;
    }

    .chart{
        margin-top: 10px !important;
    }

    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }
    .product img{
        width: 470px;
        height: 300px;
    }
}

@media screen and (max-width:768px) {
    .orders {
        width: 100%;
        text-align: center;
    }

    .icons {
        gap: 3px;
    }
    .icon2 {
        display: none;
    }
    .icon3 {
        display: none;
    }

    .mov-bar {
        width: 100%;
        margin: 0 5%;
    }

    .contact {
        display: none;
    }

    .discountchart img{
        margin-bottom: 20px;
    }

    .bxe{
        margin-bottom: 20px;
    }

    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }
    .product img{
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width:480px) {
    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }
    .product img{
        width: 0px;
        height: 240px;
    }
}

@media screen and (max-width:300px) {
    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }
}

/* Website Responsiveness Code Ends */

.pro{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    gap: 20px;   
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightpink;
    border-right-color: #e6007e;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}

/* CollapsedSidePanel Code */
  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 2000;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: white;
  }
